body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
}

a,
h1,
h2,
h3,ul {
  padding: 0;
  text-decoration: none;
}

li {
  list-style: none;
}

img{
  display: block;
  width: 100%;
}

